// import fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

// variables

$advert: 'Roboto',
sans-serif;



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $advert;
}

// reglas generales de css

.mainContainer{
    background-image: linear-gradient(to bottom, #ffc107, #FFE8D4);
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
